@charset "utf-8";

@media screen and (max-width: 980px){
	#wrapper{
		width: 100%; 
	}
	
	#header{
		width: 100%;
	}
	
	#daftar-artikel{
		width: 100%;
	}
	
	#sidebar{
		width: 100%;
	}
	
	#footer{
		width: 100%;
	}
	

